# Users-fusers data

## Data1:

https://github.com/harshitkgupta/Fake-Profile-Detection-using-ML/tree/master/data

In [1]:
import pandas as pd
import numpy as np
users = pd.read_csv('users.csv')
fusers = pd.read_csv('fusers.csv')
D1=pd.concat([users,fusers])   
y=len(users)*[0] + len(fusers)*[1]
D1['fake'] = y
D1.to_csv(r'users-fusers.csv', index = False)

In [2]:
D1=pd.read_csv('users-fusers.csv')
D1 = pd.DataFrame(D1)

In [3]:
D1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2818 entries, 0 to 2817
Data columns (total 35 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  2818 non-null   int64
 1   name                                2818 non-null   object
 2   screen_name                         2818 non-null   object
 3   statuses_count                      2818 non-null   int64
 4   followers_count                     2818 non-null   int64
 5   friends_count                       2818 non-null   int64
 6   favourites_count                    2818 non-null   int64
 7   listed_count                        2818 non-null   int64
 8   created_at                          2818 non-null   object
 9   url                                 463 non-null    object
 10  lang                                2818 non-null   object
 11  time_zone                           1069 non-null   object
 12  location                            2271 non-null   object
 13  default_profile                     1728 non-null   float64
 14  default_profile_image               8 non-null      float64
 15  geo_enabled                         721 non-null    float64
 16  profile_image_url                   2818 non-null   object
 17  profile_banner_url                  987 non-null    object
 18  profile_use_background_image        2760 non-null   float64
 19  profile_background_image_url_https  2818 non-null   object
 20  profile_text_color                  2818 non-null   object
 21  profile_image_url_https             2818 non-null   object
 22  profile_sidebar_border_color        2818 non-null   object
 23  profile_background_tile             489 non-null    float64
 24  profile_sidebar_fill_color          2818 non-null   object
 25  profile_background_image_url        2818 non-null   object
 26  profile_background_color            2818 non-null   object
 27  profile_link_color                  2818 non-null   object
 28  utc_offset                          1069 non-null   float64
 29  protected                           0 non-null      float64
 30  verified                            0 non-null      float64
 31  description                         2547 non-null   object
 32  updated                             2818 non-null   object
 33  dataset                             2818 non-null   object
 34  fake                                2818 non-null   int64
dtypes: float64(8), int64(7), object(20)
memory usage: 770.7+ KB

In [4]:
D1.drop(columns= ['default_profile_image', 'protected', 'verified', 'utc_offset', 'updated', 'profile_background_tile'], inplace=True)

https://anaconda.org/joeld9315/gender-guesser

https://github.com/lead-ratings/gender-guesser

In [5]:
import gender_guesser.detector as gender
d = gender.Detector()
first_name= D1['name'].str.split(' ').str.get(0)
gender1= first_name.apply(d.get_gender)
gender_dict={'female': -2, 'mostly_female': -1,
             'unknown':0,'mostly_male':1, 'male': 2}
gender_code = gender1.map(gender_dict)
D1['gender_code']=gender_code

https://www.geeksforgeeks.org/python-pandas-series-str-len/

https://machinelearningmastery.com/handle-missing-data-python/

In [6]:
D1["description_length"]= D1["description"].str.len()

https://stackoverflow.com/questions/3418050/month-name-to-month-number-and-vice-versa-in-python/21938128

https://stackoverflow.com/questions/15891038/change-data-type-of-columns-in-pandas

In [7]:
for i in range (2818):
    D1['time_zone'].fillna('a', inplace = True) 
    D1['location'].fillna('a', inplace = True)

# Replacing 
def code(j):
    l_list = list(enumerate(np.unique(D1[i])))   
    l_dict = { name : i for i, name in l_list }             
    D1.loc[:,i] = D1[i].map( lambda D1: l_dict[D1]).astype(int) 
cols = ['created_at', 'lang', 'time_zone', 'location']
for i in NAN:
    code(i)

In [8]:
l_list = list(enumerate(np.unique(D1['created_at'])))   
l_dict = { name : i for i, name in l_list }             
D1.loc[:,'created_at'] = D1['created_at'].map( lambda D1: l_dict[D1]).astype(int)

In [9]:
l_list = list(enumerate(np.unique(D1['lang'])))   
l_dict = { name : i for i, name in l_list }             
D1.loc[:,'lang'] = D1['lang'].map( lambda D1: l_dict[D1]).astype(int)

In [10]:
l_list = list(enumerate(np.unique(D1['time_zone'].astype(str))))   
l_dict = { name : i for i, name in l_list }             
D1.loc[:,'time_zone'] = D1['time_zone'].map( lambda D1: l_dict[D1]).astype(int)

In [11]:
for i in range (2818):
    D1['location'].fillna('a', inplace = True)

In [12]:
l_list = list(enumerate(np.unique(D1['location'].astype(str))))   
l_dict = { name : i for i, name in l_list }             
D1.loc[:,'location'] = D1['location'].map( lambda D1: l_dict[D1])

In [13]:
# Replacing 
def replace(j):
    D1[j].fillna(0, inplace = True) 
    a=[]
    for i in D1[j]:
        if i!=0:
            a.append(int(1))
        else:
            a.append(int(0))
    D1[j] = a
NAN = ['url', 'default_profile', 'geo_enabled', 'profile_banner_url', 'profile_use_background_image']
for i in NAN:
    replace(i)

https://pbpython.com/selecting-columns.html

https://www.geeksforgeeks.org/python-pandas-dataframe-dtypes/

https://stackoverflow.com/questions/14661701/how-to-drop-a-list-of-rows-from-pandas-dataframe

In [14]:
followers=0
friends=0
friends1 = []
for i in range(2818):
    if D1['followers_count'][i] ==0:
        followers+=1
    if D1['friends_count'][i] ==0:
        friends+=1
        friends1.append(i)
print('followers: ', followers, 
      '\nfriends: ', friends)

followers:  63
friends:  2

https://www.geeksforgeeks.org/reset-index-in-pandas-dataframe/

In [15]:
D1 = D1.drop(D1.index[[1474, 1767]])
D1.reset_index(inplace = True)

In [16]:
followers_to_friends = []
followers_to_statuses = []
for i in range (2816):
    followers_to_friends.append(
        float(D1['followers_count'][i]/D1['friends_count'][i]))
D1['followers_to_friends_ratio'] = followers_to_friends

In [17]:
s=0
ctu=[]
for i in D1.columns:
    if D1[i].dtype!=object:
        ctu.append(s)
    s+=1
D1_numerical=D1.iloc[:, ctu]

In [18]:
D1_numerical.drop
D1_numerical.drop(['index'], axis = 1, inplace=True)
columns = D1_numerical.columns

D:\Miniconda\Miniconda2\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

https://stackoverflow.com/questions/43772362/how-to-print-a-specific-row-of-a-pandas-dataframe

https://stackoverflow.com/questions/13851535/delete-rows-from-a-pandas-dataframe-based-on-a-conditional-expression-involving

In [19]:
# Nearest neighbors imputation
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2, weights="uniform")
D1_numerical = pd.DataFrame(imputer.fit_transform(D1_numerical)) 
D1_numerical.columns = columns

In [20]:
D1_numerical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2816 entries, 0 to 2815
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            2816 non-null   float64
 1   statuses_count                2816 non-null   float64
 2   followers_count               2816 non-null   float64
 3   friends_count                 2816 non-null   float64
 4   favourites_count              2816 non-null   float64
 5   listed_count                  2816 non-null   float64
 6   created_at                    2816 non-null   float64
 7   url                           2816 non-null   float64
 8   lang                          2816 non-null   float64
 9   time_zone                     2816 non-null   float64
 10  location                      2816 non-null   float64
 11  default_profile               2816 non-null   float64
 12  geo_enabled                   2816 non-null   float64
 13  profile_banner_url            2816 non-null   float64
 14  profile_use_background_image  2816 non-null   float64
 15  fake                          2816 non-null   float64
 16  gender_code                   2816 non-null   float64
 17  description_length            2816 non-null   float64
 18  followers_to_friends_ratio    2816 non-null   float64
dtypes: float64(19)
memory usage: 418.1 KB

In [21]:
D1_numerical.head(5)

,id,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,lang,time_zone,location,default_profile,geo_enabled,profile_banner_url,profile_use_background_image,fake,gender_code,description_length,followers_to_friends_ratio
0,3610511.0,20370.0,5470.0,2385.0,145.0,52.0,0.0,1.0,5.0,28.0,1005.0,0.0,0.0,1.0,1.0,0.0,2.0,151.0,2.293501
1,5656162.0,3131.0,506.0,381.0,9.0,40.0,322.0,1.0,1.0,28.0,1021.0,0.0,0.0,0.0,1.0,0.0,-2.0,104.0,1.328084
2,5682702.0,4024.0,264.0,87.0,323.0,16.0,2423.0,1.0,1.0,28.0,551.0,0.0,0.0,1.0,1.0,0.0,0.0,22.0,3.034483
3,6067292.0,40586.0,640.0,622.0,1118.0,32.0,2435.0,1.0,1.0,28.0,1389.0,0.0,1.0,1.0,1.0,0.0,0.0,36.0,1.028939
4,6015122.0,2016.0,62.0,64.0,13.0,0.0,1883.0,1.0,5.0,28.0,1459.0,0.0,1.0,0.0,1.0,0.0,2.0,14.0,0.968750

In [22]:
D1_numerical.to_csv(r'numerical-users-fusers-7.csv', index = False)

In [23]:
D1_numerical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2816 entries, 0 to 2815
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            2816 non-null   float64
 1   statuses_count                2816 non-null   float64
 2   followers_count               2816 non-null   float64
 3   friends_count                 2816 non-null   float64
 4   favourites_count              2816 non-null   float64
 5   listed_count                  2816 non-null   float64
 6   created_at                    2816 non-null   float64
 7   url                           2816 non-null   float64
 8   lang                          2816 non-null   float64
 9   time_zone                     2816 non-null   float64
 10  location                      2816 non-null   float64
 11  default_profile               2816 non-null   float64
 12  geo_enabled                   2816 non-null   float64
 13  profile_banner_url            2816 non-null   float64
 14  profile_use_background_image  2816 non-null   float64
 15  fake                          2816 non-null   float64
 16  gender_code                   2816 non-null   float64
 17  description_length            2816 non-null   float64
 18  followers_to_friends_ratio    2816 non-null   float64
dtypes: float64(19)
memory usage: 418.1 KB

## Data2:

https://www.kaggle.com/free4ever1/instagram-fake-spammer-genuine-accounts

In [24]:
D2 = pd.read_csv('train_test.csv')

In [25]:
D2.head(3)

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.0,0,53,0,0,32,1000,955,0
1,1,0.00,2,0.0,0,44,0,0,286,2740,533,0
2,1,0.10,2,0.0,0,0,0,1,13,159,98,0

In [26]:
D2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   profile pic           816 non-null    int64
 1   nums/length username  816 non-null    float64
 2   fullname words        816 non-null    int64
 3   nums/length fullname  816 non-null    float64
 4   name==username        816 non-null    int64
 5   description length    816 non-null    int64
 6   external URL          816 non-null    int64
 7   private               816 non-null    int64
 8   #posts                816 non-null    int64
 9   #followers            816 non-null    int64
 10  #follows              816 non-null    int64
 11  fake                  816 non-null    int64
dtypes: float64(2), int64(10)
memory usage: 76.6 KB

In [27]:
follows=0
followers=0
follows1 = []
for i in range(816):
    if D2['#follows'][i] ==0:
        follows+=1
        follows1.append(i)
    if D2['#followers'][i] ==0:
        followers+=1
print('#follows: ', follows, '\nfollowers: ', 
      followers)
print ('follows1:', follows1)

#follows:  11
followers:  22
follows1: [45, 301, 339, 345, 391, 488, 492, 496, 498, 516, 519]

In [28]:
D2 = D2.drop(D2.index[[45, 301, 339, 345, 391, 488, 492, 496, 498, 516, 519]])
D2.reset_index(inplace = True)

In [29]:
D2.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 805 entries, 0 to 804
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 805 non-null    int64
 1   profile pic           805 non-null    int64
 2   nums/length username  805 non-null    float64
 3   fullname words        805 non-null    int64
 4   nums/length fullname  805 non-null    float64
 5   name==username        805 non-null    int64
 6   description length    805 non-null    int64
 7   external URL          805 non-null    int64
 8   private               805 non-null    int64
 9   #posts                805 non-null    int64
 10  #followers            805 non-null    int64
 11  #follows              805 non-null    int64
 12  fake                  805 non-null    int64
dtypes: float64(2), int64(11)
memory usage: 81.9 KB

In [30]:
followers_to_follows = []
posts_to_follows = []
for i in range (805):
    followers_to_follows.append(
        float(D2['#followers'][i]/D2['#follows'][i]))
D2['followers_to_follows_ratio'] = followers_to_follows

In [31]:
D2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 805 entries, 0 to 804
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       805 non-null    int64
 1   profile pic                 805 non-null    int64
 2   nums/length username        805 non-null    float64
 3   fullname words              805 non-null    int64
 4   nums/length fullname        805 non-null    float64
 5   name==username              805 non-null    int64
 6   description length          805 non-null    int64
 7   external URL                805 non-null    int64
 8   private                     805 non-null    int64
 9   #posts                      805 non-null    int64
 10  #followers                  805 non-null    int64
 11  #follows                    805 non-null    int64
 12  fake                        805 non-null    int64
 13  followers_to_follows_ratio  805 non-null    float64
dtypes: float64(3), int64(11)
memory usage: 88.2 KB

In [32]:
D2 = D2.drop('index', 1)

In [33]:
D2.to_csv('train_test-7.csv')

In [34]:
D2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 805 entries, 0 to 804
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   profile pic                 805 non-null    int64
 1   nums/length username        805 non-null    float64
 2   fullname words              805 non-null    int64
 3   nums/length fullname        805 non-null    float64
 4   name==username              805 non-null    int64
 5   description length          805 non-null    int64
 6   external URL                805 non-null    int64
 7   private                     805 non-null    int64
 8   #posts                      805 non-null    int64
 9   #followers                  805 non-null    int64
 10  #follows                    805 non-null    int64
 11  fake                        805 non-null    int64
 12  followers_to_follows_ratio  805 non-null    float64
dtypes: float64(3), int64(10)
memory usage: 81.9 KB

## Data3:

https://github.com/fcakyon/instafake-dataset/tree/master/data/fake-v1.0

In [35]:
import pandas as pd
import numpy as np
real = pd.read_json('realAccountData.json')
fake = pd.read_json('fakeAccountData.json')
x=pd.concat([real,fake])   
x.to_csv(r'real-fake.csv', index = False)

In [36]:
D3 = pd.read_csv('real-fake.csv')
D3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   userFollowerCount    1194 non-null   int64
 1   userFollowingCount   1194 non-null   int64
 2   userBiographyLength  1194 non-null   int64
 3   userMediaCount       1194 non-null   int64
 4   userHasProfilPic     1194 non-null   int64
 5   userIsPrivate        1194 non-null   int64
 6   usernameDigitCount   1194 non-null   int64
 7   usernameLength       1194 non-null   int64
 8   isFake               1194 non-null   int64
dtypes: int64(9)
memory usage: 84.1 KB

In [37]:
following=0
follower=0
following1 = []
for i in range(1194):
    if D3['userFollowingCount'][i] ==0:
        following+=1
        following1.append(i)
    if D3['userFollowerCount'][i] ==0:
        follower+=1
print('following: ', following, 
      '\nfollower: ', follower)
print ('\nfollowing1:', following1)

following:  5
follower:  18

following1: [1186, 1187, 1190, 1192, 1193]

In [38]:
D3 = D3.drop(D3.index[[1186, 1187, 1190, 1192, 1193]])
D3.reset_index(inplace = True)

In [39]:
D3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189 entries, 0 to 1188
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1189 non-null   int64
 1   userFollowerCount    1189 non-null   int64
 2   userFollowingCount   1189 non-null   int64
 3   userBiographyLength  1189 non-null   int64
 4   userMediaCount       1189 non-null   int64
 5   userHasProfilPic     1189 non-null   int64
 6   userIsPrivate        1189 non-null   int64
 7   usernameDigitCount   1189 non-null   int64
 8   usernameLength       1189 non-null   int64
 9   isFake               1189 non-null   int64
dtypes: int64(10)
memory usage: 93.0 KB

In [40]:
followers_to_Following = []
media_to_Following = []
for i in range (1189):
    followers_to_Following.append(
        float(D3['userFollowerCount'][i]/D3['userFollowingCount'][i]))
D3['Follower_to_Following_ratio'] = followers_to_Following

In [41]:
D3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189 entries, 0 to 1188
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   index                        1189 non-null   int64
 1   userFollowerCount            1189 non-null   int64
 2   userFollowingCount           1189 non-null   int64
 3   userBiographyLength          1189 non-null   int64
 4   userMediaCount               1189 non-null   int64
 5   userHasProfilPic             1189 non-null   int64
 6   userIsPrivate                1189 non-null   int64
 7   usernameDigitCount           1189 non-null   int64
 8   usernameLength               1189 non-null   int64
 9   isFake                       1189 non-null   int64
 10  Follower_to_Following_ratio  1189 non-null   float64
dtypes: float64(1), int64(10)
memory usage: 102.3 KB

In [42]:
D3.head(5)

,index,userFollowerCount,userFollowingCount,userBiographyLength,userMediaCount,userHasProfilPic,userIsPrivate,usernameDigitCount,usernameLength,isFake,Follower_to_Following_ratio
0,0,258,238,0,0,1,0,0,10,0,1.084034
1,1,263,482,30,29,1,1,0,8,0,0.545643
2,2,51,78,9,0,1,1,0,10,0,0.653846
3,3,297,480,22,25,1,1,2,9,0,0.618750
4,4,113,242,0,95,1,1,0,10,0,0.466942

In [43]:
D3.drop(columns= ['index'], inplace=True)

In [44]:
D3.to_csv('real-fake-7.csv')

In [45]:
D3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189 entries, 0 to 1188
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   userFollowerCount            1189 non-null   int64
 1   userFollowingCount           1189 non-null   int64
 2   userBiographyLength          1189 non-null   int64
 3   userMediaCount               1189 non-null   int64
 4   userHasProfilPic             1189 non-null   int64
 5   userIsPrivate                1189 non-null   int64
 6   usernameDigitCount           1189 non-null   int64
 7   usernameLength               1189 non-null   int64
 8   isFake                       1189 non-null   int64
 9   Follower_to_Following_ratio  1189 non-null   float64
dtypes: float64(1), int64(9)
memory usage: 93.0 KB

## D4:

https://github.com/radheysm/Fake-Profile-Detection

In [46]:
D4 = pd.read_csv('Total_data.csv')
D4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             552 non-null    int64
 1   Unnamed: 0.1           552 non-null    int64
 2   UserID                 552 non-null    int64
 3   UserScreenName         552 non-null    object
 4   UserCreatedAt          552 non-null    object
 5   UserDescriptionLength  552 non-null    int64
 6   UserFollowersCount     552 non-null    int64
 7   UserFriendsCount       552 non-null    float64
 8   UserLocation           552 non-null    object
 9   AvgHashtag             552 non-null    float64
 10  AvgURLCount            552 non-null    float64
 11  AvgMention             552 non-null    float64
 12  AvgRetweet             552 non-null    float64
 13  AvgFavCount            552 non-null    float64
 14  TweetCount             552 non-null    int64
 15  SpammerOrNot           552 non-null    int64
 16  Current_Time           552 non-null    object
dtypes: float64(6), int64(7), object(4)
memory usage: 73.4+ KB

In [47]:
D4.drop(columns= ['Unnamed: 0', 'Unnamed: 0.1', 'UserScreenName'], inplace=True)

In [48]:
D4.head(5)

,UserID,UserCreatedAt,UserDescriptionLength,UserFollowersCount,UserFriendsCount,UserLocation,AvgHashtag,AvgURLCount,AvgMention,AvgRetweet,AvgFavCount,TweetCount,SpammerOrNot,Current_Time
0,613357772,2012-06-20 11:24:09,145,62144,297.0,"Chennai, India",0.466667,0.266667,1.166667,9.700000,11.700000,21157,0,2019-04-23 14:45:45
1,284920800,2011-04-20 06:14:32,75,109825,161.0,India,0.600000,0.933333,0.333333,5.366667,6.366667,78784,0,2019-04-23 14:45:45
2,1943418931,2013-10-07 08:07:03,102,237690,156.0,Chennai,2.300000,1.000000,0.000000,1.700000,10.966667,85765,0,2019-04-23 14:45:45
3,740815249524285440,2016-06-09 07:58:13,0,7449,323.0,"Chennai, India",0.000000,1.000000,0.900000,0.000000,0.133333,38658,0,2019-04-23 14:45:45
4,777850687338057729,2016-09-19 12:43:50,0,1271,1022.0,0,1.833333,1.900000,1.400000,0.400000,0.766667,2482,0,2019-04-23 14:45:45

In [49]:
CA_list = list(enumerate(np.unique(D4['UserCreatedAt'])))   
CA_dict = { name : i for i, name in CA_list }             
D4.loc[:,'UserCreatedAt'] = D4['UserCreatedAt'].map( lambda D4: CA_dict[D4]).astype(int)

In [50]:
CA_list = list(enumerate(np.unique(D4['Current_Time'])))   
CA_dict = { name : i for i, name in CA_list }             
D4.loc[:,'Current_Time'] = D4['Current_Time'].map( lambda D4: CA_dict[D4]).astype(int)

In [51]:
location_list = list(enumerate(np.unique(D4['UserLocation'])))   
location_dict = { name : i for i, name in location_list }             
D4.loc[:,'UserLocation'] = D4['UserLocation'].map( lambda D4: location_dict[D4]).astype(int)

In [52]:
D4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   UserID                 552 non-null    int64
 1   UserCreatedAt          552 non-null    int32
 2   UserDescriptionLength  552 non-null    int64
 3   UserFollowersCount     552 non-null    int64
 4   UserFriendsCount       552 non-null    float64
 5   UserLocation           552 non-null    int32
 6   AvgHashtag             552 non-null    float64
 7   AvgURLCount            552 non-null    float64
 8   AvgMention             552 non-null    float64
 9   AvgRetweet             552 non-null    float64
 10  AvgFavCount            552 non-null    float64
 11  TweetCount             552 non-null    int64
 12  SpammerOrNot           552 non-null    int64
 13  Current_Time           552 non-null    int32
dtypes: float64(6), int32(3), int64(5)
memory usage: 54.0 KB

In [53]:
D4.head(5)

,UserID,UserCreatedAt,UserDescriptionLength,UserFollowersCount,UserFriendsCount,UserLocation,AvgHashtag,AvgURLCount,AvgMention,AvgRetweet,AvgFavCount,TweetCount,SpammerOrNot,Current_Time
0,613357772,88,145,62144,297.0,45,0.466667,0.266667,1.166667,9.700000,11.700000,21157,0,0
1,284920800,57,75,109825,161.0,86,0.600000,0.933333,0.333333,5.366667,6.366667,78784,0,0
2,1943418931,153,102,237690,156.0,44,2.300000,1.000000,0.000000,1.700000,10.966667,85765,0,0
3,740815249524285440,276,0,7449,323.0,45,0.000000,1.000000,0.900000,0.000000,0.133333,38658,0,0
4,777850687338057729,289,0,1271,1022.0,2,1.833333,1.900000,1.400000,0.400000,0.766667,2482,0,0

In [54]:
followers = 0
friends = 0
friends1 = []
for i in range(552):
    if D4['UserFollowersCount'][i] ==0:
        followers+=1
    if D4['UserFriendsCount'][i] ==0:
        friends+=1
        friends1.append(i)
print('follwers: ', followers, '\nfriends: ', friends)
print ('friends1', friends1)

follwers:  0
friends:  12
friends1 [6, 189, 201, 227, 228, 253, 455, 514, 515, 533, 538, 548]

In [55]:
friends_to_followers = []
for i in range (552):
    friends_to_followers.append(
        float(D4['UserFriendsCount'][i]/D4['UserFollowersCount'][i]))
D4['friends_to_followers_ratio'] = friends_to_followers

In [56]:
D4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   UserID                      552 non-null    int64
 1   UserCreatedAt               552 non-null    int32
 2   UserDescriptionLength       552 non-null    int64
 3   UserFollowersCount          552 non-null    int64
 4   UserFriendsCount            552 non-null    float64
 5   UserLocation                552 non-null    int32
 6   AvgHashtag                  552 non-null    float64
 7   AvgURLCount                 552 non-null    float64
 8   AvgMention                  552 non-null    float64
 9   AvgRetweet                  552 non-null    float64
 10  AvgFavCount                 552 non-null    float64
 11  TweetCount                  552 non-null    int64
 12  SpammerOrNot                552 non-null    int64
 13  Current_Time                552 non-null    int32
 14  friends_to_followers_ratio  552 non-null    float64
dtypes: float64(7), int32(3), int64(5)
memory usage: 58.3 KB

In [57]:
D4.drop(columns= ['Current_Time'], inplace=True)

In [58]:
D4.to_csv('n_Total_data-7.csv')